<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="/css/bootstrap.min.css">
<script src="/js/jquery-3.4.1.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/buyer.js"></script>
<title>Dashboard::BUYER</title>

<style type="text/css">
	.btn-width { width: 100px; }
</style>
</head>
<body>

	<nav class="navbar navbar-expand-lg bg-info text-white">
		<div class="container">
		<span th:text="'Hello ' + ${email} + '::::'"></span>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item"><a class="nav-link text-white" href="/buyer/">Sellers</a></li>
		      	<li class="nav-item"><a class="nav-link text-white" href="/buyer/follow">Follow/Unfollow</a></li>
		      	<li class="nav-item"><a class="nav-link text-white" href="/buyer/address">Address</a></li>
		      	<li class="nav-item"><a class="nav-link text-white" href="/buyer/payment">Payment/Card</a></li>
		      	<li class="nav-item"><a class="nav-link text-white" href="/buyer/history">Order history</a></li>
		      	<li class="nav-item"><a class="nav-link text-white" href="/buyer/shopping-cart">Shopping card</a></li>
			</ul>
		</div>
		</div>
	</nav>
	<hr>
	<div class="container">
		<h2 class="text-info">All sellers</h2>
		<div th:if="${allSellers==null or allSellers.empty}">There is no active seller in the system</div>
		<table class="table table-hover" th:if="${allSellers!=null and !allSellers.empty}">
			<thead>
				<tr>
					<th scope="col">Name</th>
					<th scope="col">Email</th>
					<th scope="col"></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="aSeller :${allSellers}">
					<td th:text="${aSeller.seller.firstName + ' ' + aSeller.seller.lastName}"></td>
					<td th:text="${aSeller.seller.email}">Mark</td>
					
					<td th:if="${aSeller.isFollowee}" th:id="'follow_' + ${aSeller.seller.id}">
						<button class="btn btn-info btn-width"
							th:data-sellerId="${aSeller.seller.id}"
							th:data-buyerId="${buyerId}"
							onclick="unfollow(this.getAttribute('data-sellerId'), this.getAttribute('data-buyerId'))">Following</button>
					</td>
					<td th:if="${!aSeller.isFollowee}" th:id="'follow_' + ${aSeller.seller.id}">
						<button class="btn btn-outline-info btn-width"
							th:data-sellerId="${aSeller.seller.id}"
							th:data-buyerId="${buyerId}"
							onclick="follow(this.getAttribute('data-sellerId'), this.getAttribute('data-buyerId'))">Follow</button></td>
				</tr>
			</tbody>
		</table>
	</div>

</body>
</html>