<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="/css/bootstrap.min.css">
<script src="/js/jquery-3.4.1.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/buyer.js"></script>
<title>Dashboard::BUYER</title>

<style type="text/css">
	.btn-width { width: 100px; }
</style>
</head>
<body>
	<nav class="navbar navbar-expand-lg bg-info text-white">
		<div class="container">
		<span th:text="'Hello ' + ${email} + '::::'"></span>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item"><a class="nav-link text-white" href="/buyer/">Sellers</a></li>
		      	<li class="nav-item"><a class="nav-link text-white" href="/buyer/follow">Follow/Unfollow</a></li>
		      	<li class="nav-item"><a class="nav-link text-white" href="/buyer/address">Address</a></li>
		      	<li class="nav-item"><a class="nav-link text-white" href="/buyer/payment">Payment/Card</a></li>
		      	<li class="nav-item"><a class="nav-link text-white" href="/buyer/history">Order history</a></li>
		      	<li class="nav-item"><a class="nav-link text-white" href="/buyer/shopping-cart">Shopping card</a></li>
			</ul>
		</div>
		</div>
	</nav>
	<hr>
	<div class="container">
	
		<h2 class="text-info">Credit cards</h2>
		<div th:if="${cards==null or cards.empty}">There is no debit/ credit card in your account</div>
		<table class="table table-hover" th:if="${cards!=null and !cards.empty}">
			<thead>
				<tr>
					<th scope="col">Credit cards</th>
					<th scope="col"></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="card :${cards}" th:id="'card_' + ${card.id}">
					<td th:text="${card.maskedNumber}"></td>
					<td>
						<button class="btn btn-outline-info" th:data-id="${card.id}" onclick="deleteCard(this.getAttribute('data-id'))">Delete</button>
					</td>
				</tr>
			</tbody>
		</table>
		<button class="btn btn-info" onclick="openCardForm()">Add</button>
		
	</div>

</body>
</html>