<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="/css/bootstrap.min.css">
<script src="/js/jquery-3.3.1.slim.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="/css/home.css" />

<title>Online shopping system</title>
</head>
<body>
	<img alt="background" src="/img/background.png">
	<div class="main-container">
		<h1>Welcome to the Online Shopping System</h1>
		<span class="text">If you are new, please click a left button</span> <br>
		<button type="button" class="btn btn-primary btn-lg btn-width" onclick="window.location.href='./login'">Login</button>
		<button type="button" class="btn btn-info btn-lg btn-width" onclick="window.location.href='./signup'">Sign up</button>
	</div>

</body>
</html>