<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" href="/css/bootstrap.min.css">
<script src="/js/jquery-3.4.1.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/approve.js"></script>
<title>Pending reviews</title>
</head>
<body>
	<h1 class="text-center">List of Pending Review</h1><hr>
	<div th:if="${reviews==null or reviews.empty}">No pending review</div>
	<table class="table table-hover" th:if="${reviews!=null and !reviews.empty}">
	    <thead class="table-primary">
		    <th scope="col">ID</th>
		    <th scope="col">User name</th>
		    <th scope="col">Review</th>
		    <th scope="col">Star</th>
		    <th scope="col">Date</th>
		    <th scope="col">Operation</th>
	    </thead>
	    <tbody>
		    <tr th:each="review :${reviews}">
		        <td th:text="${review.id}"></td>
		        <td th:text="${review.user.firstName + ' ' + review.user.lastName}"></td>
		        <td th:text="${review.review}"></td>
		        <td th:text="${review.star}"></td>
		        <td th:text="${review.reviewDate}"></td>
		        <td th:id="${review.id}">
		        	<button class="btn btn-outline-primary"
		        		th:data-reviewId="${review.id}"
		        		onclick="approveRequest(this.getAttribute('data-reviewId'));">Approve</button>
		        </td>
		    </tr>
	    </tbody>

	</table>
</body>
</html>